/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav button {
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

main {
    padding: 1rem;
}

button {
    display: block;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#diagnosisSection {
    margin-top: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #007bff;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}