/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav button {
    background-color: darkslategray;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

main {
    padding: 1rem;
}

button {
    display: block;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#diagnosisSection {
    margin-top: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #007bff;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Стили для навигационной панели */
#navbar {
    display: flex; /* Горизонтальное расположение кнопок */
    justify-content: center; /* Выравнивание по центру */
    gap: 1rem; /* Расстояние между кнопками */
    margin-top: 1rem;
}

.nav-button {
    background-color: #676767;
    border: none;
    padding: 0.75rem 1.5rem; /* Увеличиваем отступы для кнопок */
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-size: 1rem; /* Размер шрифта */
    text-align: center; /* Текст по центру */
    transition: background-color 0.3s ease; /* Плавный переход при наведении */
}

.nav-button:hover {
    background-color: #0056b3; /* Цвет при наведении */
}

/* Стили для справочной информации */
.info-block {
    margin-top: 1rem;
}

.info-block h3 {
    font-size: 1.5rem; /* Размер шрифта для заголовка */
    color: #007bff; /* Цвет заголовка */
    margin-bottom: 0.5rem; /* Отступ под заголовком */
}

.info-block p {
    font-size: 1rem; /* Размер шрифта для параграфов */
    line-height: 1.6; /* Интервал между строками */
    color: #333; /* Темно-серый цвет текста */
}

.info-block ul {
    list-style-type: disc; /* Тип маркеров для списка */
    margin-left: 1.5rem; /* Отступ слева для списка */
    padding: 0; /* Убираем лишние отступы */
}

.info-block li {
    font-size: 1rem; /* Размер шрифта для пунктов списка */
    line-height: 1.6; /* Интервал между строками */
    margin-bottom: 0.5rem; /* Отступ между пунктами списка */
}

.info-block a {
    color: #007bff; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный шрифт для ссылки */
}

.info-block a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}